# Primitive datatypes and operators

Comments

In [66]:
# single line comment

''' Multi line
comments
'''

' Multi line\ncomments\n'

In [3]:
5/3

1.6666666666666667

In [4]:
5//3

1

Above is rounding to integer

Works for negative's too

In [5]:
-5 // 3

-2

Works on floats too

In [6]:
-5.0 // 3

-2.0

Division always results in floats

In [7]:
10 / 2

5.0

Modulo operations

In [8]:
10 % 3

1

Exponentiation (x**y, x to the yth power)

In [9]:
3**3

27

Precedence by parenthese

In [10]:
1 + 2 * 3

7

In [11]:
(1 + 2) * 3

9

### Boolean

Booleans are primitive

In [12]:
not True

False

In [13]:
not False

True

In [14]:
True and False

False

In [16]:
True or False

True

Bool operators with ints - False is 0 and True is 1. <br />
** Don't mix up with bool(ints) and bitwise and/or (&,|) **

In [17]:
0 and 2

0

In [18]:
1 and True

True

In [19]:
1 and False

False

In [20]:
0 == False

True

In [21]:
2 == True

False

In [24]:
-5 != False != True

True

In [25]:
(-5 != False) != True

False

Comparisons can be chained

In [26]:
1 < 2 < 3

True

In [27]:
1 < 1 < 0.5

False

#### is vs. ==

is --> checks if the two items are same object <br />
== --> checks if they are the same value

In [28]:
a = [1, 2, 3, 4]
b = a

b and a are same object

In [29]:
b is a
a is b

True

Also, a and b have the same values

In [30]:
a == b

True

In [31]:
b = [1, 2, 3, 4]

Now b is a new object, so ...

In [32]:
b is a

False

In [33]:
b == a

True

### Strings

Created using "" or ''

In [34]:
"This is a string"

'This is a string'

In [35]:
'This is also a string'

'This is also a string'

Strings can be added too! But try not to do this.

In [37]:
"Hello" + " World!"

'Hello World!'

Literals can be added without +. Not vars though.

In [38]:
"hello" " world!"

'hello world!'

String can be treated as a list

In [39]:
"this is a list"[1]

'h'

In [40]:
len("length of a string")

18

string format method

In [41]:
"{} can be {}".format("Strings", "interpolated.")

'Strings can be interpolated.'

In [43]:
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick.")

'Jack be nimble, Jack be quick, Jack jump over the candle stick.'

In [44]:
"{name} wants to eat {food}".format(name="Garfield", food="lasagna.")

'Garfield wants to eat lasagna.'

In [46]:
"%s can be %s the %s way." % ("Strings", "interpolated", "python 2.x")

'Strings can be interpolated the python 2.x way.'

None is an object

In [48]:
None

So use "is" to compare with None and not "=="

In [51]:
None is None

True

In [52]:
"foo" is None

False

In [53]:
"bar" == None

False

In [56]:
a is None

False

**None, 0, and empty strings/lists/dicts/tuples all evaluate to False.** All other values are True.

In [57]:
bool(None)

False

In [58]:
bool(0)

False

In [59]:
bool("")

False

In [60]:
bool([])

False

In [61]:
bool({})

False

In [62]:
bool(())

False

# Variables and Collections

By default the print function also prints out a newline at the end. Use the optional argument end to change the **end** string.

In [67]:
print("Hello world", end="!")

Hello world!

Note: In earlier versions of Python, input() method was named as raw_input()

In [69]:
input_data = input("Enter data please : ")

Enter data please : Some data

In [71]:
print("Entered data is {0}".format(input_data))

Entered data is Some data

No declarations, only assigments

In [72]:
some_var = 23

In [73]:
some_var

23

In [74]:
some_unknown_var

NameError: name 'some_unknown_var' is not defined

In [75]:
"wow" if 3 > 2 else "meh"

'wow'

### Lists

In [76]:
li = []

In [77]:
li

[]

In [143]:
other_li = [5, 6, 7]

In [79]:
li.append(1)

In [80]:
li

[1]

In [81]:
li.append(2,3,4)

TypeError: append() takes exactly one argument (3 given)

In [82]:
li.append(2)

In [83]:
li.append(3)

In [84]:
li.append(4)

In [85]:
li

[1, 2, 3, 4]

In [86]:
li.pop()

4

In [87]:
li

[1, 2, 3]

In [88]:
li.append(4)

In [89]:
li

[1, 2, 3, 4]

In [90]:
li[0]

1

In [91]:
li[-1]

4

In [92]:
li[4]

IndexError: list index out of range

In [93]:
li

[1, 2, 3, 4]

In [94]:
li[1:3]

[2, 3]

In [95]:
li[2:]

[3, 4]

In [96]:
li[1:]

[2, 3, 4]

In [97]:
li[:1]

[1]

In [98]:
li[:3]

[1, 2, 3]

In [99]:
li[::]

[1, 2, 3, 4]

Select every second entry

In [102]:
li[::2]

[1, 3]

Return a reversed copy of the list

In [103]:
li[::-1]

[4, 3, 2, 1]

*Use any combination of these to make advanced slices -- li[start:end:step]*

In [104]:
li[::-2]

[4, 2]

In [107]:
li[0:3:2]

[1, 3]

In [108]:
li[3:0:-1]

[4, 3, 2]

In [109]:
li[3:0:-2]

[4, 2]

Make a one layer deep copy using slices. but (li2 is li) will result in false

In [121]:
li2 = li[:]
print(li2)
print("li2 is li : {}".format(li2 is li))
print("li2 is equal to li : {}".format(li2 == li))

[1, 2, 3, 4]
li2 is li : False
li2 is equal to li : True

Whereas ...

In [125]:
li3 = li

In [126]:
print(li3)
print("li3 is li : {}".format(li3 is li))
print("li3 is equal to li : {}".format(li3 == li))

[1, 2, 3, 4]
li3 is li : True
li3 is equal to li : True

Remove arbitrary elements from a list with "del"

In [131]:
del li[3]
li

IndexError: list assignment index out of range

Remove first occurrence of a value

In [135]:
li.remove(2)
li
li.remove(2)

ValueError: list.remove(x): x not in list

In [136]:
li.insert(1, 2)
li

[1, 2, 3]

In [137]:
li.index(3)

2

In [139]:
li.index(45)

ValueError: 45 is not in list

Add lists. Note: values for li and for other_li are not modified

In [145]:
print(li)
print(other_li)
li + other_li

[1, 2, 3]
[5, 6, 7]

[1, 2, 3, 5, 6, 7]

Extend a list

In [147]:
li.extend(other_li)
li

[1, 2, 3, 5, 6, 7, 5, 6, 7]

In [148]:
5 in li

True

In [149]:
len(li)

9

### Tuples
*Tuples are like lists but are immutable*

In [150]:
tup = (1, 2, 3)

In [151]:
tup[0]

1

In [152]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

You can do most of the list operations on tuples

In [153]:
len(tup)

3

In [155]:
tup[1:]

(2, 3)

In [156]:
3 in tup

True

In [157]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

You can unpack tuples (or lists) into variables

In [161]:
a, b, c = (1, 2, 3)
print("a is {0}, b is {1} and c is {2}".format(a, b, c))

a is 1, b is 2 and c is 3

In [162]:
a, *b, c = (1, 2, 3, 4)
print("a is {0}, b is {1} and c is {2}".format(a, b, c))

a is 1, b is [2, 3] and c is 4

In [167]:
d, e, f = 4, 5, 6 # Tuples are created by default if you leave out the parentheses
print("d is {0}, e is {1} and f is {2}".format(d, e, f))

d is 4, e is 5 and f is 6

In [168]:
d, e = e, d # It's that simple to swap values
print("d is {0} and e is {1}".format(d, e))

d is 5 and e is 4

### Dictionaries
*Dictionaries store mappings from keys to values*

In [169]:
dict = {"one":1, "two":2, "three":3}

In [170]:
dict

{'one': 1, 'three': 3, 'two': 2}

Note **keys** for dictionaries have to be **immutable types**. This is to ensure that
the key can be converted to a constant hash value for quick look-ups.
Immutable types include **ints, floats, strings, tuples.**

In [171]:
dict1 = {[1, 2, 3]:2345}

TypeError: unhashable type: 'list'

In [172]:
dict2 = {(1, 2, 3):[1, 2, 3]}

In [173]:
dict2

{(1, 2, 3): [1, 2, 3]}

In [174]:
dict['one']

1

In [175]:
dict.keys()

dict_keys(['one', 'three', 'two'])

In [176]:
dict.values()

dict_values([1, 3, 2])

In [178]:
"one" in dict

True

In [179]:
1 in dict

False

In [181]:
dict["ten"]

KeyError: 'ten'

Use **get()** method to avoid the KeyError

In [182]:
dict.get("ten")

In [183]:
dict.get("one")

1

The get method supports a default argument when the value is missing

In [186]:
dict.get("one", 10)

1

In [187]:
dict.get("ten", 10)

10

**setdefault()** inserts into a dictionary only if the given key isn't present

In [189]:
dict.setdefault("one", 5) # will return existing value (1) for the key

1

In [192]:
dict.setdefault("four", 4)

4

In [193]:
dict # Will add (four,4) as it did not exists

{'four': 4, 'one': 1, 'three': 3, 'two': 2}

Adding to a dictionary

In [199]:
dict.update({"five":5})

In [200]:
dict

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [201]:
dict["six"] = 6

In [205]:
dict

{'five': 5, 'four': 4, 'one': 1, 'six': 6, 'three': 3, 'two': 2}

Removing from dictionary

In [206]:
del dict["six"]

In [207]:
dict

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

From Python 3.5 you can also use the additional unpacking options

In [208]:
{'a':1, **{'b':2}}

{'a': 1, 'b': 2}

In [209]:
{'a':1, **{'a':2}}

{'a': 2}

### Sets

In [210]:
empty_set = {}

In [211]:
empty_set

{}

In [213]:
some_set = {1, 1, 2, 2, 3, 4}
some_set

{1, 2, 3, 4}

Similar to keys of a dictionary, elements of a set have to be immutable.

In [214]:
{[1], 1}

TypeError: unhashable type: 'list'

In [215]:
{(1,), 1}

{1, (1,)}

In [216]:
some_set.add(5)

In [217]:
some_set

{1, 2, 3, 4, 5}

In [218]:
other_set = {5, 6, 7}

Set **intersection**

In [219]:
some_set & other_set

{5}

set **union**

In [220]:
some_set | other_set

{1, 2, 3, 4, 5, 6, 7}

In [221]:
{1, 2, 3, 4} - {2, 3, 5} # set difference

{1, 4}

In [222]:
{1, 2, 3, 4} ^ {2, 3, 5} # set symmetric difference (All elemtns that do not belong in the intersection)

{1, 4, 5}

Check if set on the left is a superset of set on the right

In [223]:
{1, 2} >= {1, 2, 3}

False

Check if set on the right is a superset of set on the left

In [225]:
{1, 2} <= {1, 2, 3}

True

In [226]:
2 in some_set

True

In [227]:
10 in some_set

False

# 3. Control Flow and Iterables

In [228]:
foo = 5

In [230]:
if foo > 10:
    print('foo is greater than 10')
elif foo < 10:
    print('foo is less than 10')
else:
    print('foo is exactly 10')

foo is less than 10